.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  h2 {
    width: 40%;
  }
  .fields {
    width: 60%;
    display: flex;
    flex-direction: column;
    mat-form-field {
      mat-label {
        font-weight: bold;
        font-size: 120%;
      }
      mat-select, input {
        font-size: 180%;
      }
    }
  }
}
