/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; font-size: 70%; }
app-root { height: 100vh; }
a {
  cursor: pointer;
  text-decoration: none;
  color: red;
  &:hover {
    color: darkred;
  }
}
